@font-face {
    font-family: art-deco-custom;
    src: url('art-deco.ttf');
    font-weight:400;
    font-weight:normal;
}

body {
    background-color: black;
    font-family: art-deco-custom;
    font-size: 100px;
}

a {
    background: -webkit-linear-gradient(rgb(245, 227, 154), rgb(211, 183, 68));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}